.p2 {
    background: rgb(54,52,78);
    background: linear-gradient(180deg, rgba(54,52,78,1) 0%, rgba(255,238,193,1) 11%, rgba(3,255,211,0.75) 100%);
    overflow: hidden;
}

.sky {
    height: 100%;
    overflow: hidden;
}

.rain {
    color: white;
    position: absolute;
    animation: make-rain 1s ease-in-out infinite;
    visibility: hidden;
}

.r1 {
    animation: make-rain .6s ease-in-out infinite;
    animation-delay: .333s;
    visibility: hidden;
}
.r2 {
    animation-delay: .544s;
    visibility: hidden;
}
.r3 {
    animation: make-rain .85s ease-in-out infinite;
    animation-delay: .733s;
    visibility: hidden;
}
.r4 {
    animation-delay: 1.4s;
    visibility: hidden;
}
.r5 {
    animation: make-rain .66s ease-in-out infinite;
    animation-delay: 1.933s;
    visibility: hidden;
}
.r6 {
    animation-delay: 2.522s;
    visibility: hidden;
}
.r7 {
    animation: make-rain .75 ease-in-out infinite;
    animation-delay: 3.1444s;
    visibility: hidden;
}

@keyframes make-rain {
    0% { visibility: visible; font-size: 10px; top: 260px; opacity: 0%; }
    15% { opacity: 30%; }
    100% { font-size: 30px; top: 460px; opacity: 0%;}
  }

