.p3 {
    overflow: hidden;
}

.earth {
    /* margin-top: 180px;
    height: 20px;
    background-color: green; */
    /* display: inline-block; */
    height: 100%;
    width: 100%;
}

.eye {
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background-color: cyan;
    border-radius: 100% 0px;
    transform: rotate(45deg); 
}

.ground {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    background-color: green;
    /* position: absolute; */
}